import { getCollection } from 'astro:content';
import Layout from '../../layouts/Layout.astro';

export async function getStaticPaths() {
  const posts = await getCollection('posts');
  return posts.map(post => ({
    params: { slug: post.slug },
    props: { post },
  }));
}

const { post } = Astro.props;
const { Content } = await post.render();

<Layout title={post.data.title} description={post.data.description}>
  <main class="container mx-auto px-4 py-16 max-w-2xl font-mono prose dark:prose-invert">
    <h1>{post.data.title}</h1>
    <p>Published on: {post.data.pubDate.toDateString()}</p>
    <hr class="my-8"/>
    <Content />
  </main>
</Layout> 