---
export interface Props {
  title: string;
  description?: string;
  keywords?: string;
}

const { title = "Maciej Janowski | Backend Engineer", description = "Backend Engineer (web + ai)", keywords = "python developer, backend developer, ai developer, freelance developer, web developer, astro, tailwind css" } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <meta name="description" content={description} />
    <meta name="keywords" content={keywords} />
    {/* Add more SEO tags here as needed */}
    <slot name="head" />
  </head>
  <body class="bg-white text-black dark:bg-black dark:text-white min-h-screen font-sans">
    <slot />
  </body>
</html> 