---
export interface Props {
  title: string;
  description?: string;
  keywords?: string;
}

const { title = "Maciej Janowski | Backend Engineer", description = "Backend Engineer (web + ai)", keywords = "python developer, backend developer, ai developer, freelance developer, web developer, astro, tailwind css" } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <meta name="description" content={description} />
    <meta name="keywords" content={keywords} />
    
    <!-- Prevent flash of unstyled content -->
    <script is:inline>
      // On page load or when changing themes, best to add inline in `head` to avoid FOUC
      if (localStorage.getItem('theme') === 'dark' || 
          (!localStorage.getItem('theme') && window.matchMedia('(prefers-color-scheme: dark)').matches)) {
        document.documentElement.classList.add('dark');
      } else {
        document.documentElement.classList.remove('dark');
      }
    </script>
    
    {/* Add more SEO tags here as needed */}
    <slot name="head" />
  </head>
  <body class="min-h-screen">
    <slot />
  </body>
</html> 